body {
    margin: 0;
    font-size: 20px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cdd4ed;
}
#menu-page {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid black;
}
.menu-item a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.menu-item a:hover {
    background-color: #444;
}
li p{
    margin: 0px 0px 10px 0px;
}

.titles{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    margin: 25px;
    padding: 25px;
    background: #b3beea;
    border-radius: 20px;
}
header{
    margin: 0;
    padding: 55px 30px 30px 30px;
    color: white;
    background-color: #031668;
}
main{
    margin: 0 20% 0 20%;
    background-color: white;
    max-width: 1370px;
}
footer, address a{
    font-size: medium;
    color: white;
    background-color: #333;
    padding: 10px;
}
.whatsapp-icon{
    font-size:24px;
}

p, h4, ul, dl{
    margin-right:5.5%;
    margin-left:5.5%;
    text-align: justify;
}

h3{
    margin: 5.5%;
}

section p{
    text-indent: 1.5em;
}

blockquote {
    text-align: justify;
    background: #eeeded;
    border-left: 10px solid #ccc;
    margin: 1.5em 3.5em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    font-style: italic;
    display: inline;
}
hr{
    height: 20px;
    border: #cdd4ed;
    background: #cdd4ed;
}
#author{
    font-size: medium;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
pre, code {
    background-color:rgb(38, 37, 37);
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin: 0px 7% 0px 7%;
    font-size: 20px;
    border-radius: 10px;
    color:white;
}
#semantic-tags-table, tr, th, td{
    margin:0 auto 0 auto;
    padding: 0.2em;
    border: 1px solid black;
    
}
th{
    text-transform: uppercase;
    padding: 0.5em;
    color: white;
    background-color:#005a6a;
}
figure{
    margin:0 auto 0 auto 0;
    font-size: 16px;
}
.tags-color{
    color:rgb(76, 181, 216);
    font-weight: bold;
}
.ppty-color{
    color:rgb(216, 167, 76);
}
#attention{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(252, 233, 236);
    margin:5.5%;
}
.center-text{
    text-align: center;
}
