body {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-family: 'Arial';
    /*background-color: #eaeaea;*/
    background-color: #cdd4ed;
}

#menu-page {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid black;
}

.left-item {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li p{
    margin: 0px 0px 10px 0px;
}

li a:hover {
    background-color: #444;
}

/*.active {
    background-color: #444;
}*/
#acessibility, #web-acessibility, #guidelines, #semantic-tags{
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 25px;
    padding: 25px;
    background: #b3beea;
    /*box-shadow: gray 0.5em 0.5em 0.3em;*/
    border-radius: 20px;
}
h3{
    margin: 50px;
}
header{
    margin: 0;
    text-align: center;
    padding: 55px 30px 30px 30px;
    color: white;
    /*background-color: #c3c3c3;*/
    background-color: #031668;
}
main{
    margin: 0 20% 0 20%;
    background-color: white;
    max-width: 1370px;
}
footer, address a{
    text-align: center;
    font-size: medium;
    color: white;
    background-color: #333;
    padding: 10px;
}
.whatsapp-icon{
    font-size:24px;
}

p, h4, ul, dl{
    margin-right:50px;
    margin-left:50px;
    font-size:20px;
    text-align: justify;
}

section p{
    text-indent: 1.5em;
}

blockquote {
    text-align: justify;
    background: #eeeded;
    border-left: 10px solid #ccc;
    margin: 1.5em 3.5em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
hr{
    height: 20px;
    border: #cdd4ed;
    background: #cdd4ed;
}
#author{
    font-size: medium;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

pre, code {
    background-color:rgb(38, 37, 37);
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin: 0px 70px 0px 70px;
    font-size: 20px;
    border-radius: 10px;
    color:white;
}

pre strong, code strong{
    color:rgb(76, 181, 216);
}

#semantic-tags-table, tr, th, td{
    margin:0 auto 0 auto;
    padding: 0.2em;
    text-align: center;
    border: 1px solid black;
    
}

th{
    text-transform: uppercase;
    padding: 0.5em;
    color: white;
    background-color:#005a6a;
}

figure{
    margin:0 auto 0 auto 0;
    font-size: 16px;
}
